/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #4A4A4A;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}
b {
    font-weight: normal;
}
::-moz-selection {
    background: #19E7DB;
    text-shadow: none;
}

a {
    color:#19E7DB;
    cursor: pointer;
}

::selection {
    background: #19E7DB;
    color:#fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
     font-family: 'Quando', serif;
     border: 50px solid #19e7db;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 80px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-size: 42px;
    line-height: 52px;
    color:#4a4a4a;
}

.header-container {
    padding: 45px;
    display: block;
    text-align: right;
}

.main-hero  {
    font-size: 96px;
    line-height: 96px;
    background: #F5F5F5;
    padding: 125px 0px;
    width: 100%;
}


.main-title b {
    color:#808080;
    width: 100%;
    display: block;
}

.main-text {
    width:60%;
    color:#808080;
    line-height: 32px;
}

.element {
    display: inline-block;

}

.typed-cursor {
   color:#19E7DB; 
}

.photos img {
    width:25%;
    float: left;
}

.photo-wrapper em {
    text-align: center;
    display: block;
    padding-top: 14px;
    color: #ccc;
    float: left;
    width: 100%;
}


.footer-cta a {
    text-align: center;
    width: 25%;
    float: left;
    display: block;
    line-height: 180px;
    background: red;
    position: relative;
}

.footer-cta a em {
    text-transform: uppercase;
    width:100%;
    width: 100%;
    height: 32px;
    float: left;
    font-size: 32px;
}

a.behance {
    color:#fff;
    background: #010103;
}

a.behance:hover {
    color:#fff;
    transition: background-color 0.5s ease;
    background: #19e7db;    
}


a.twitter {
    color:#fff;
    background: #6cadde;
}

a.twitter:hover {
    color:#fff;
    transition: background-color 0.5s ease;
    background: #19e7db;   
}



a.flickr {
    color:#fff;
    background: #ff0084;
}

a.flickr:hover {
    color:#fff;
    transition: background-color 0.5s ease;
    background: #19e7db;
}



a.linkedin {
    color:#fff;
    background: #0077b5;
}

a.linkedin:hover {
    color:#fff;
    transition: background-color 0.5s ease;
    background: #19e7db;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}





/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 768px) {

    body 
    {
         border: 10px solid #19e7db;
    }


    .photos img {
        width:50%;
        float: left;
    }


    .main-text {
        width:100%;
       
    }

    .main {
        padding: 40px 0;
    }

    .main-hero  {
        font-size: 66px;
        line-height: 66px;
        padding: 65px 0;
        overflow: hidden;
     
    }

    .footer-cta a {
        line-height: 64px;
        width: 100%;
    }

    .footer-cta em {
        display: none;
    }


}

@media only screen and (max-width: 500px) {

    .main-hero 
    {
        font-size: 36px;
        line-height: 36px;
        padding: 36px 0;
        height: 160px;
        overflow: hidden;
    }

    h1 {
        font-size: 28px;
        line-height: 28px;
    }

    .header-container {
        padding:20px;
        text-align: center;
    }

}


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

