@charset "UTF-8";

/* Base */
@import "base/settings";
@import "base/normalize";
@import "base/typography";

html {
    color: $colour-bravo;
    height: 100%;
}

a {
    color:$colour-alpha;
}

a:hover {
    color:$colour-bravo;
}


body {
     border: $padding-medium solid $colour-alpha;
}

.wrapper {
    width:90%;
    margin: 0 5%;
}

.main {
    padding: $padding-medium-large 0;
}

.header-container {
    padding: $padding-medium-large;
    display: block;
    text-align: right;
    font-size: 14px;
}

.header-container em {
    text-align: left;
    float: left;
    color: $colour-delta;
}


.main-hero  {
    font-size: $padding-medium-large;
    line-height: $padding-medium-large;
    background: linear-gradient(to left bottom, $colour-white 5%, $colour-bg-alpha 5%);
    padding: $padding-medium-large 0px;
    width: 100%;
}

.main-title b {
    color:$colour-charlie;
    width: 100%;
    display: block;
    font-weight: normal;
}

.main-text {
    width:60%;
    color:$colour-charlie;
    line-height: 32px;
}

.element {
    display: inline-block;

}

.typed-cursor {
   color:$colour-alpha; 
}

.photos img {
    width:50%;
    float: left;
}

.photo-wrapper em {
    text-align: center;
    display: block;
    padding-bottom: $padding-medium;
    color: $colour-delta;
    float: left;
    width: 100%;
}


/* Experience */

.main-text-left {
    width:60%;
    float: left;
}
.main-text-right {
    width:30%;
    padding-left: 10%;
    float: right;
}

.main-text-right ul {
    line-height: 30px;
    color:$colour-charlie;
    padding-top: $padding-small;
    padding-bottom: $padding-small;
}

.main-text-right h2 {
    font-size: 32px;
    margin-bottom: 0px;
    padding: 0px;
}

.cv-item {
    width:100%;
    float: left;
    margin-bottom: $padding-medium;
    line-height: 32px;
}

/* Footer */ 

.footer-container footer {
    padding: $padding-small 0;
}

.footer-cta a {
    color:$colour-delta;
    text-align: center;
    width: 25%;
    float: left;
    display: block;
    line-height: $padding-large;
    position: relative;
    text-decoration: none;
}

.footer-cta a em {
    color:$colour-bravo;
    font-weight: bold;
    width:100%;
    width: 100%;
    height: 32px;
    float: left;
    font-size: 32px;
    font-style: normal;
}

.footer-cta a:hover em {
    color:$colour-white;
}

a.behance {
    border-bottom:2px solid #010103;
}

a.behance:hover {
    color:$colour-white;
    transition: background-color 0.5s ease;
    background: #010103;    
}


a.twitter {
     border-bottom:2px solid #6cadde;
}

a.twitter:hover {
    color:$colour-white;
    transition: background-color 0.5s ease;
    background: #6cadde;   
}


a.flickr {
    border-bottom:2px solid #ff0084;
}

a.flickr:hover {
    color:$colour-white;
    transition: background-color 0.5s ease;
    background: #ff0084;
}

a.linkedin {
    border-bottom:2px solid #0077b5;
}

a.linkedin:hover {
    color:$colour-white;
    transition: background-color 0.5s ease;
    background: #0077b5;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width: 768px) {

    body 
    {
         border: 10px solid $colour-alpha;
    }


    .photos img {
        width:100%;
        float: left;
    }


    .main-text, .main-text-right, .main-text-left {
        width:100%;
       
    }

    .main {
        padding: $padding-small 0;
    }

    .main-hero  {
        font-size: 66px;
        line-height: 66px;
        padding: 65px 0;
        overflow: hidden;
     
    }

    .footer-cta a {
        line-height: 64px;
        width: 100%;
    }

 

    h1, h2, h3, h4, h5, h6, h4.connect, .main-text-right h2 {
        font-size: 28px;
        line-height: 28px;
        margin-top: 0;
        padding: $padding-small 0 0 0;
    }

    .photo-wrapper em {
        width: 90%;
        padding: 0 5% 20px 5%;
    }

    .header-container em {
        display: none;
    }

}

@media only screen and (max-width: 500px) {

    .main-hero 
    {
        font-size: 36px;
        line-height: 36px;
        padding: 36px 0;
        height: 160px;
        overflow: hidden;
    }


    .header-container {
        padding:20px;
        text-align: center;
    }

}


@media only screen and (min-width: 11$padding-medium) {

/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 11$padding-medium - 10% for margins */
        margin: 0 auto;
    }
}


@media only screen and (min-width: 1500px) {
    .main-hero 
    {
        font-size: 140px;
        line-height: 140px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

