body {
	font-family: avenir, arial;
	font-size: 16px;
	background: #F3F3F3;
	border-top: 16px solid #FC43D3;
	margin: 0px;
	line-height: 32px;
}

p, h2, figure, .cta, h3 {
	width: 100%;
	float: left;
	clear: both;
}

h1 {
	font-size: 82px;
    padding: 0px;
    line-height: 46px;
    color:#282828;
}

h1 span {
	width: 100%;
	float: left;
	font-size: 12px;
	padding-left: 4px;
}

h2 {
	font-size: 24px;
}

h2, h3 {
	margin: 24px 0 12px 0
}

h2.title-intro {
	font-size: 48px;
	line-height: 62px;
	margin-bottom: 0px;
}

fieldset {
	border:0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

form {
	margin:-8px 0 0 0;
}



ol li a {
	color:#282828;
	font-size: 16px;
	font-weight: bold;
}
ol li span, .score p {
	color:#6E6E6E;
	font-size: 14px;
	font-weight: lighter;
	font-style: italic;
	width: 100%;
	float: left;
	margin: 0px;
	line-height: 18px;
}


form ul li, form ul, ol
{
	list-style: none;
	margin:0px;
	padding: 0px;
}

ol {

	margin:0px 0 16px 0;
	padding: 0px;
	width: 100%;
	float: left;
}

ol li {
	margin-bottom: 16px;
	float: left;
    width: 100%;
    line-height: 18px;
}



form ul li
{

	padding: 10px 0;
}

form ul li label{
	padding-left: 8px;

}

form ul {
	margin:0 0 32px 0;
	padding: 0px;
}

legend {
	text-transform: uppercase;
	font-size: 12px;
	color: #C4C4C4;
	margin-top: -10px;

}

.btn-submit {
	font-size: 16px;
	background: #4F820D;
	color:#fff;
	padding: 16px;
}


.full {
	background: #fff;
	padding:0 10%;
	width:50%;
	max-width: 760px;
	min-width: 320px;
	float: left;
	top: 20px;
}

.full img {
	max-width: 575px;

}

.cta {
	background: #FFFF00;
	font-size: 18px;
	padding: 12px;
}

.cta p {
	margin: 0px;
}

figure {
	background: #F3F3F3;
	float: left;
	margin: 0px 0 32px 0;
	padding: 12px;
}

figcaption {
	border-top:1px solid  #fff;
	margin: 0px;
	padding: 4px;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
}

.scoring-stages li {
	width:33.3%;
	float: left;
}



.score {
	margin-left:10%;
	width:20%;
	float: left;
	position: fixed;
	top: 20px;
}



.score a:hover, .score .selected {
	color:#FC43D3;
	text-decoration: none;
}



.score-form {
	background: #fff;
	width:70%;
	padding: 164px 2%;
	margin-left:36%;
	float: left;
}

.score-form h1 {
	margin: 0px;
	font-size: 42px;
	color: #FC43D3;
}

.score-form p {
	padding-top: 0px;
	margin: 0px 0 24px 0;
	width: 70%;
}

.results {
	background:#282828;
	color:#fff;
	font-size: 62px;
	position: fixed;
	top:0px;
	right: 0px;
	width:100%;
	height:100%;
	text-align: center;
	display: grid;
}

.diet-score-copy {
	top:10px
	left:10px;
	font-size: 16px;
	font-family: arial;
	color: #fff;
	position: absolute;
	width:60px;
	height: 32px;
}

.diet-score-next a {
	color: #fff;
}

.diet-score-next {

    font-size: 16px;
    font-family: arial;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 60px;
    height: 32px;
    width: 100%;
}

.diet-score-google {
    font-size: 16px;
    font-family: arial;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 12px;
    height: 32px;
    z-index: 100;
}

.diet-score-next li {
	float: left;
	width: 100px;
	line-height: 32px;
}

.diet-score-next a.selected {
	text-decoration: line-through;
}

.diet-score {
    width:320px;
    height:320px;
    text-align: center;
    border-radius: 100%;
    left: 50%;
    top: 20%;
    margin-left: -160px;
    position: relative;
}

.diet-score p {
    margin: 0px;
    bottom: 50px;
    width: 100%;
    position: absolute;
    font-size: 24px;
}

.diet-score span {
    font-size: 162px;
    position: absolute;
    top: 142px;
    left: 0px;
    width: 100%;
  
}

em, em a {
	color: #fff;
    font-size: 16px;
    width: 100%;
    float: left;
}

@media only screen and (max-width: 920px) {


  img {
  	width:100%;
  }

  .full {
  	width:80%;
  }
  h2.title-intro
  {
  	font-size: 42px;
  	line-height: 44px;
  }

  .score {
  	position: relative;
  	margin: 0px;
  	width: 90%;
  	padding:5%;
  }

p.diet-message {
	font-size: 46px;	
}


  .score h2, .score ol {
  	margin: 0px;
  }

  .score h1 {
  	margin-top: 0px;
  }

  .score-form h1 {
  	font-size: 32px;
  }

   .score-form h2 {
  	margin-top: 12px;
  	width: 70%;
  }

  .score-form form ul {
  	margin-bottom: 12px;
  }

  .score-form form ul li {
  	padding: 0px;
  	width:90%;
  	float: left;
  }

  .score p {
  	margin-bottom: 8px;
  }

  .score-form {
  	margin-left:0px;
   	width: 90%;
  	padding:5%;
  }

}

